.root{
  margin: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.canvasContainer{
  aspect-ratio: 4/7;
  width: 100%;
  margin: auto;
  flex-grow: 1;
  touch-action: none;
}
@media screen and (min-width:600px) {
  .container{
    flex-direction: row;
  }
  .container>div:first-child{
    width: 250px;
  }
  .canvasContainer{
    width: initial;
    flex-grow: 0;
    height: 100%;
  }
}